:root{
    --sombra:#010101
}


html , body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

body {
    text-align: center;
    height: 100vh;
}
h1{
    padding:20px;
}


ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
ul>li{
    /* border: 5px solid red; */
    width: 80%;
}
@media (min-width: 768px){
    ul{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }   
    ul>li{
        width: 25%;
        /* border:3px solid red ; */
        margin: 20px;
    }
}

.card {
    border:1px solid #3c3c3c;
    background-color: #fff;
    width:100%;
    margin-bottom: 20px;
    border-radius: 15px 15px 15px 15px;
    box-shadow:15px 15px rgba(0,0,0,.2);
}
.card-img-top{
    width:100%;
    border-radius: 15px 15px 0px 0px;

}

.card-footer{
    background-color: #0099ff;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    transition: all .5s ease;
}
.card-footer:hover{
    background-color: #0005ff;

}


.card-footer a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
}

